
<mat-divider></mat-divider>
<mat-card class="example-card"  *ngFor="let fileName of fileNames" (click)="addNew(fileName)" >
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar></div>
		<mat-card-title>{{fileName}}</mat-card-title>
		<mat-card-subtitle></mat-card-subtitle>
	</mat-card-header>
</mat-card>
<div class="no-results" *ngIf="show">
	No results
  </div>
	<div class="container-fluid">
		<app-loader >Loading...</app-loader>
	</div>
<!-- <mat-card class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar ></div>
		<mat-card-title>MR. Y</mat-card-title>
		<mat-card-subtitle></mat-card-subtitle>
	</mat-card-header>
</mat-card> -->
